<%-include('header.ejs')%>

<h2>Rankings</h2>
<div class="table-container">
    <table>
        <tr>
            <th>Rank</th>
            <th>Player name</th>
            <th>Current Point</th>
        </tr>
        
        <% lists.forEach(function(item, index){ %>
            <tr>
                <td><%= index + 1 %></td>
                <td> <%= item.namedb %> </td>
                <td> <%= item.eachpointdb %> </td>
            </tr>
        <% }) %>
    </table>
</div>

<%-include('footer.ejs')%>

