<%-include('header.ejs')%>

   <h2>Recent Plays</h2>
   <div class="table-container">
    <table>
            <tr>
                <th>Date</th>
                <th>Winner</th>
                <th>Loser</th>
                <th>Game Score</th>
                <th>Betting Point</th>
            </tr>
            
            <% lists.forEach(function(item){ %>
                <tr>
                    <td> <%=item.datedb%> </td>
                    <td> <%=item.winnerdb%> </td>
                    <td> <%=item.loserdb%> </td>
                    <td> <%=item.scoredb%> </td>
                    <td> <%=item.pointdb%> </td>

                </tr>
            <%})%>
    </table>

<%-include('footer.ejs')%>
